.title {
  text-align: center;
  font-family: helvetica;
}

.main-nav-bar{
  border: darkgray 1.5px solid;
}

.menu {
  text-align: center;
  margin-left:2.5%;
  margin-right:2.5%;
  width:auto;
}

.menu-title {
  padding-top: 1.5%;
}

.menu-button {
  border: 1px orangered solid;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0.5%;
  font-family: Helvetica;
  font-size: 90%;
  background-color: moccasin;
  width: fit-content;
}

.menu-button:hover {
  background-color: rgb(255, 211, 134);
  color: rgb(157, 27, 27);
}

/* .blurbs {
  border: 1.5px black solid;
  margin: 2.5%;
  padding: 2.5%;
}

.blurbs-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2.5%;
}

.blurb-container {
  padding: 2.5%;
  border: 1px solid olivedrab;
  margin: 2.5;
}

.blurb-header {
  text-align: center;
  font-size: 80%;
  font-family: Garamond; 
}

.blurb-footer {
  text-align: left;
  font-size: 60%;
  font-family: Garamond;
  color: darkgray;
}

.blurb-content {
  font-size: 90%;
  font-family: Garamond;
} */